# SONGMORE DB
SONGMORE_DB_USER=user
SONGMORE_DB_PASSWORD=password
SONGMORE_DB_DATABASE=dbname

# AUTH DB
AUTH_DB_USER=user
AUTH_DB_PASSWORD=password
AUTH_DB_HOST=dbhost

# AUTH SERVICE
AUTH_SERVICE_PORT=0000
AUTH_SERVICE_JWT_SECRET=your-secret-key
AUTH_SERVICE_JWT_EXPIRES_IN=12h
AUTH_DB_URI=mongodb://user:password@host:27017/database?authSource=admin
